<ng-template #template let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Update-User</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="d('Cross click')"></button>
    </div>
    <div class="modal-body">
        <div class="card-body">
            <form class="row g-3">
                <div class="col-md-6">
                    <label for="inputUsername4" class="form-label">Username <span style="color: red;">(*)</span></label>
                    <input type="text" class="form-control" id="inputUsername4" name="username" [(ngModel)]="userUpdate.username.S">
                </div>
                <div class="col-md-6">
                    <label for="inputEmail4" class="form-label">Email <span style="color: red;">(*)</span></label>
                    <input type="email" class="form-control" id="inputEmail4" name="email" [(ngModel)]="userUpdate.email.S">
                </div>
                <div class="col-md-6">
                    <label for="inputCountry" class="form-label">Country <span style="color: red;">(*)</span></label>
                    <input type="text" class="form-control" id="inputCountry" name="country" [(ngModel)]="userUpdate.country.S">
                </div>
                <div class="col-md-6">
                    <label for="inputGender" class="form-label">Gender <span style="color: red;">(*)</span></label>
                    <select id="inputGender" class="form-select" name="gender" [(ngModel)]="userUpdate.gender.S">
                        <option>Male</option>
                        <option>Female</option>
                        <option>Genderfluid</option>
                        <option>Agender</option>
                    </select>
                </div>
                <div class="col-md-12">
                    <label for="inputPhone" class="form-label">Phone <span style="color: red;">(*)</span></label>
                    <input type="text" class="form-control" id="inputPhone" name="phone" [(ngModel)]="userUpdate.phone.S">
                </div>
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h5 class="card-title">Image <span style="color: red;">(*)</span></h5>
                        </div>
                        <div class="card-content card-image">
                            <label class="card-body" for='labelUpload'>
                                <img *ngIf="previewImage" [src]="previewImage"/>
                                <span *ngIf="!previewImage">Image Preview</span>
                            </label>
                            <input hidden type="file" id='labelUpload' (change)="handleUploadImage($event)"/>
                        </div>
                    </div>
                </div>
              </form>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary btn-outline px-4" (click)="handleUpdateUser()">Update user</button>
        <button type="button" class="btn btn-outline-dark px-4" (click)="c('Cross click')">Close</button>
    </div>
</ng-template>

