<app-view-user></app-view-user>
<main class="d-flex w-100 h-100">
    <div class="container-fluid p-5">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h2 class="card-title">List users</h2>
                    </div>
                    <table class="table table-bordered align-middle">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Username</th>
                                <th>Email</th>
                                <th>Gender</th>
                                <th>Country</th>
                                <th>Phone</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>864-348-0485</td>
                                <td>864-348-0485</td>
                                <td>Female</td>
                                <td>864-348-0485</td>
                                <td>864-348-0485</td>
                                <td>
                                    <button class="btn btn-primary" (click)="showModalView()">View</button>
                                    <button class="btn btn-warning mx-2 m-2">Edit</button>
                                    <button class="btn btn-danger">Delete</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</main>

